// Styling for the services section
.service-heading {
  margin: 24px 0;
  // padding: 0 20px 0 20px;
  text-transform: none;
  color: #000080;
}

.svg-image {
  width: 90px;
  height: 80px;
  margin: 40px 0 10px;
}
